<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Verification</title>
</head>
<body>
    <% if(verification) { %>
        <a href="<%- verification.link %>"><%- verification.link %></a>
    <% } %>
</body>
</html>