<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">

    <meta name="author" content="codexcoder">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Meta tags for Social Media(Better SEO) -->
    <!-- <meta property="og:title" content=""> -->
    <!-- <meta property="og:type" content=""> -->
    <!-- <meta property="og:url" content=""> -->
    <!-- <meta property="og:image" content=""> -->

    <!-- site favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png">

    <!-- ====== All css file ========= -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css//icofont.min.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/lightcase.css">
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">


    <!-- site title -->
    <title>Enftomark</title>
</head>

<body>
    <!-- preloader start here -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- preloader ending here -->

    <!-- ===============// header section start here \\================= -->
    <%- include('./header.ejs') %>
    <!-- ===============//header section end here \\================= -->



    <!-- ==========Page Header Section Start Here========== -->
    <section class="page-header-section style-1">
        <div class="container">
            <div class="page-header-content">
                <div class="page-header-inner">
                    <div class="page-title">
                        <h2>Offers Page </h2>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="index">Home</a></li>
                        <li class="active">Offers Page </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Page Header Section Ends Here========== -->


    <!-- ==========Blog Section start Here========== -->
    <section class="blog-section padding-top padding-bottom">
        <div class="container">
            <div class="main-blog">
                <div class="row">
                    <div class="col-lg-9 col-12">
                        <div class="blog-wrapper">
                            <div class="post-item">
                                <div class="post-item-inner">
                                    <div class="post-thumb">
                                        <a href="blog-single"><img src="assets/images/blog/01.gif" alt="blog"></a>
                                    </div>
                                    <div class="post-content">
                                        <span class="meta">By <a href="#">Admin</a> March 24, 2021</span>
                                        <h3><a href="blog-single">Uompe Qrear High Ecent Nche Without Some Prin
                                                Uomp Without Some Qreari</a></h3>
                                        <p>Rapidious qntegrate distrbuted supply chains throuih marke position bestn
                                            practces chain marke positonn bestin practcer ieractvel fashon and sound
                                            qources forin iteractve fashion bestin practce ieractve and sound qources
                                            for.</p>
                                    </div>
                                    <div class="blog-footer">
                                        <a href="blog-single" class="viewall">Read More <i
                                                class="icofont-double-right"></i></a>
                                        <div class="right">
                                            <a href="#" class="blog-heart"><i class="icofont-heart-alt"></i> 12 <span
                                                    class="d-none d-sm-inline-block">Like</span> </a>
                                            <a href="#" class="blog-comment"><i class="icofont-comment"></i> 24
                                                <span class="d-none d-sm-inline-block">Comments</span> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-item post-slider">
                                <div class="post-item-inner">
                                    <div class="post-thumb">
                                        <div class="blog-slider">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <img loading="lazy" src="assets/images/blog/03.jpg" alt="blog">
                                                </div>
                                                <div class="swiper-slide">
                                                    <img loading="lazy" src="assets/images/blog/02.jpg" alt="blog">
                                                </div>
                                                <div class="swiper-slide">
                                                    <img loading="lazy" src="assets/images/blog/04.jpg" alt="blog">
                                                </div>
                                            </div>
                                            <div class="blog-slider-next">
                                                <i class="icofont-play"></i>
                                            </div>
                                            <div class="blog-slider-prev">
                                                <i class="icofont-play"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        <span class="meta">By <a href="blog-single">Admin</a> March 24, 2021</span>
                                        <h3><a href="blog-single">Uompe Qrear High Ecent Nche Without Some Prin
                                                Uomp Without Some Qreari</a></h3>
                                        <p>Rapidious qntegrate distrbuted supply chains throuih marke position bestn
                                            practces chain marke positonn bestin practcer ieractvel fashon and sound
                                            qources forin iteractve fashion bestin practce ieractve and sound qources
                                            for.</p>
                                    </div>
                                    <div class="blog-footer">
                                        <a href="blog-single" class="viewall">Read More <i
                                                class="icofont-double-right"></i></a>
                                        <div class="right">
                                            <a href="#" class="blog-heart"><i class="icofont-heart-alt"></i> 12 <span
                                                    class="d-none d-sm-inline-block">Like</span> </a>
                                            <a href="#" class="blog-comment"><i class="icofont-comment"></i> 24
                                                <span class="d-none d-sm-inline-block">Comments</span> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-item video-post">
                                <div class="post-item-inner">
                                    <div class="post-thumb">
                                        <div class="ratio ratio-16x9">
                                            <iframe loading="lazy"
                                                src="https://www.youtube-nocookie.com/embed/eEzD-Y97ges?controls=0"
                                                allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        <span class="meta">By <a href="#">Admin</a> March 24, 2021</span>
                                        <h3><a href="blog-single">Uompe Qrear High Ecent Nche Without Some Prin
                                                Uomp Without Some Qreari</a></h3>
                                        <p>Rapidious qntegrate distrbuted supply chains throuih marke position bestn
                                            practces chain marke positonn bestin practcer ieractvel fashon and sound
                                            qources forin iteractve fashion bestin practce ieractve and sound qources
                                            for.</p>
                                    </div>
                                    <div class="blog-footer">
                                        <a href="blog-single" class="viewall">Read More <i
                                                class="icofont-double-right"></i></a>
                                        <div class="right">
                                            <a href="#" class="blog-heart"><i class="icofont-heart-alt"></i> 12 <span
                                                    class="d-none d-sm-inline-block">Like</span> </a>
                                            <a href="#" class="blog-comment"><i class="icofont-comment"></i> 24
                                                <span class="d-none d-sm-inline-block">Comments</span> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-item code-post">
                                <div class="post-item-inner">
                                    <div class="post-thumb">
                                        <div class="code-content">
                                            <i class="icofont-quote-right"></i>
                                            <p>Rapidious qntegrate distrbuted supply chains throuih marke position bestn
                                                practces chain marke positonn bestin practcer ieractvel fashon and sound
                                                qources forin iteractve fashion bestin practce ieractve and sound
                                                qources
                                                for.</p>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        <span class="meta">By <a href="#">Admin</a> March 24, 2021</span>
                                        <h3><a href="blog-single">Uompe Qrear High Ecent Nche Without Some Prin
                                                Uomp Without Some Qreari</a></h3>
                                        <p>Rapidious qntegrate distrbuted supply chains throuih marke position bestn
                                            practces chain marke positonn bestin practcer ieractvel fashon and sound
                                            qources forin iteractve fashion bestin practce ieractve and sound qources
                                            for.</p>
                                    </div>
                                    <div class="blog-footer">
                                        <a href="blog-single" class="viewall">Read More <i
                                                class="icofont-double-right"></i></a>
                                        <div class="right">
                                            <a href="#" class="blog-heart"><i class="icofont-heart-alt"></i> 12 <span
                                                    class="d-none d-sm-inline-block">Like</span> </a>
                                            <a href="#" class="blog-comment"><i class="icofont-comment"></i> 24
                                                <span class="d-none d-sm-inline-block">Comments</span> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="paginations">
                            <ul class="lab-ul d-flex flex-wrap justify-content-center mb-1">
                                <li>
                                    <a href="#"><i class="icofont-rounded-double-left"></i></a>
                                </li>
                                <li>
                                    <a href="#">1</a>
                                </li>
                                <li class="d-none d-sm-block">
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">...</a>
                                </li>
                                <li class="d-none d-sm-block">
                                    <a href="#">4</a>
                                </li>
                                <li>
                                    <a href="#">5</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icofont-rounded-double-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12">
                        <aside>
                            <div class="profile-widget search-widget">
                                <div class="widget-inner">
                                    <div class="widget-title">
                                        <h5>Search Post</h5>
                                    </div>
                                    <div class="widget-content">
                                        <p>Search from the newest post collections</p>
                                        <div class="form-floating nft-search-input">
                                            <input type="text" class="form-control" id="nftSearch"
                                                placeholder="Search post">
                                            <label for="nftSearch">Search post</label>
                                            <button type="button"> <i class="icofont-search-1"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget widget-category">
                                <div class="widget-header">
                                    <h5 class="title">Post Category</h5>
                                </div>
                                <ul class="widget-wrapper">
                                    <li>
                                        <a href="#" class="d-flex flex-wrap justify-content-between"><span><i
                                                    class="icofont-double-right"></i>Digital Art</span><span>06</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex flex-wrap justify-content-between"><span><i
                                                    class="icofont-double-right"></i>Photography</span><span>11</span></a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex active flex-wrap justify-content-between"><span><i
                                                    class="icofont-double-right"></i>Music</span><span>07</span></a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Blog Section ends Here========== -->



    <!-- ===============//footer section start here \\================= -->
    <footer class="footer-section">
        <div class="footer-top" style="background-image: url(assets/images/footer/bg.jpg);">
            <div class="footer-newsletter">
                <div class="container">
                    <div class="row g-4 align-items-center justify-content-center">
                        <div class="col-lg-6">
                            <div class="newsletter-part">
                                <div class="ft-header">
                                    <h4>Get The Latest Rarible Updates</h4>
                                </div>
                                <form action="#">
                                    <input type="email" placeholder="Your Mail Address">
                                    <button type="submit"> Subscrib now</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="social-part ps-lg-5">
                                <div class="ft-header">
                                    <h4>Join the Community</h4>
                                </div>
                                <ul class="social-list d-flex flex-wrap align-items-center mb-0">
                                    <li class="social-link"><a href="#"><i class="icofont-twitter"></i></a></li>
                                    <li class="social-link"><a href="#"><i class="icofont-twitch"></i></a></li>
                                    <li class="social-link"><a href="#"><i class="icofont-reddit"></i></a></li>
                                    <li class="social-link"><a href="#"><i class="icofont-instagram"></i></a></li>
                                    <li class="social-link"><a href="#"><i class="icofont-dribble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="footer-links padding-top padding-bottom">
                <div class="container">
                    <div class="row g-5 row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-5">
                        <div class="col">
                            <div class="footer-link-item">
                                <h5>About</h5>
                                <ul class="footer-link-list">
                                    <li><a href="#" class="footer-link">Explore</a></li>
                                    <li><a href="#" class="footer-link">How it works</a></li>
                                    <li><a href="#" class="footer-link">Support</a></li>
                                    <li><a href="#" class="footer-link">Become a partner</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div class="footer-link-item">
                                <h5>NFT Marketplace</h5>
                                <ul class="footer-link-list">
                                    <li><a href="#" class="footer-link">Sell your assets</a></li>
                                    <li><a href="#" class="footer-link">FAQ</a></li>
                                    <li><a href="#" class="footer-link">Support</a></li>
                                    <li><a href="#" class="footer-link">Privacy/Policy</a></li>
                                    <li><a href="#" class="footer-link">Your purchases</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div class="footer-link-item">
                                <h5>Company</h5>
                                <ul class="footer-link-list">
                                    <li><a href="#" class="footer-link">About</a></li>
                                    <li><a href="#" class="footer-link">Mission & Team</a></li>
                                    <li><a href="#" class="footer-link">Our Blog</a></li>
                                    <li><a href="#" class="footer-link">Services</a></li>
                                    <li><a href="#" class="footer-link">We're Hiring</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div class="footer-link-item">
                                <h5>NFT Marketplace</h5>
                                <ul class="footer-link-list">
                                    <li><a href="#" class="footer-link">Sell your assets</a></li>
                                    <li><a href="#" class="footer-link">FAQ</a></li>
                                    <li><a href="#" class="footer-link">Support</a></li>
                                    <li><a href="#" class="footer-link">Privacy/Policy</a></li>
                                    <li><a href="#" class="footer-link">Your purchases</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div class="footer-link-item">
                                <h5>Comunity</h5>
                                <ul class="footer-link-list">
                                    <li><a href="#" class="footer-link">NFT Token</a></li>
                                    <li><a href="#" class="footer-link">Discusion</a></li>
                                    <li><a href="#" class="footer-link">Voting</a></li>
                                    <li><a href="#" class="footer-link">Suggest Feature</a></li>
                                    <li><a href="#" class="footer-link">Language</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p class="text-center py-4 mb-0">All rights reserved &copy; Enftomark || Design By: <a
                        href="https://themeforest.net/user/codexcoder">codexcoder</a>
                </p>
            </div>
        </div>
    </footer>
    <!-- ===============//footer section end here \\================= -->



    <!-- scrollToTop start here -->
    <a href="#" class="scrollToTop"><i class="icofont-stylish-up"></i></a>
    <!-- scrollToTop ending here -->




    <!-- All Scripts -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/lightcase.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/countdown.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/functions.js"></script>
    <script type="module" src="assets/js/metamask.js"></script>
</body>

</html>